* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d28cf5;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

h1 {
    color: #000000;
    text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

h1, p, #score {
    font-size: 3rem;
    text-align: center;
    padding: 1.2rem;
}

div {
    width: 12vw;
    margin: 1rem;
    position: relative;
}

img {
    transition: transform.10s;
}

